

.main__layout{
  background-color:var(--surface-ground);
  height: 100vh;
  display: flex;

  .sidebar__section{
    width: $sidebar-max-width;
    height: 100%;
  }

  .main__section{
    width: calc(100% - $sidebar-max-width);
    padding: 6px;
    height: 100vh;
    .page__content{
      border: 1px solid var(--surface-line);
      border-radius: 12px;
      height: 100%;
      background-color: var(--surface-section);
      box-shadow: inset 0 -2px 0 0 var(--gray50), 0 1px 2px 0 #1018280f;
      display: flex;
      flex-direction: column;

      .app__header-container{
        margin: 4px;
        width: calc(100% - 8px);
      }
    }
  }
}

.open__sidebar{
  sidebar__section{
    width: $sidebar-max-width;
  }
  .main__section{
    width: calc(100% - $sidebar-max-width);
  }
}


