
.hidden-tab-header{
  .n-tabs-nav--segment-type{
    display: none !important;
  }
}

.ui-drawer{
  .n-drawer-header{
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    padding: 0 !important;
  }
  .n-drawer-body-content-wrapper{
    padding: 0 !important;
  }
}
.card-p-none{
  .n-card__content{
    padding: 0 !important;
  }

}
.border__center-line{
  position: relative;
  &::before{
    content: '';
    width: 1px;
    height:100%;
    background: rgba(177, 177, 177, 0.36);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.border__center-line:first-child{
  &::before{
    background: transparent;
  }
}
.border__center-content{
  position: relative;
  &::after{
    content: '';
    width:50%;
    height:1px;
    background: rgba(177, 177, 177, 0.36);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,50%);
  }
}