
.hidden-tab-header{
  .n-tabs-nav--segment-type{
    display: none !important;
  }
}

.ui-drawer{
  .n-drawer-header{
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    padding: 0 !important;
  }
  .n-drawer-body-content-wrapper{
    padding: 0 !important;
    display: flex;
    flex-direction: column;
  }
}
.card-p-none{
  .n-card__content{
    padding: 0 !important;
  }

}
.border__center-line{
  position: relative;
  &::before{
    content: '';
    width: 1px;
    height:100%;
    background: var(--surface-line);
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
.border__center-line:first-child{
  &::before{
    background: transparent;
  }
}
.border__center-content{
  position: relative;
  &::after{
    content: '';
    width:50%;
    height:1px;
    background: var(--surface-line);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(0%,50%);
  }
}
.deep-1{
  &::before{
    content: none !important;
  }
  &::after{
    content: none !important;
  }
}

.ui__autocomplete{
  width: 100%;
  position: relative;
  .ui__autocomplete-panel{
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  }
  .n-spin-content{
    width: 100%;
  }
  .n-form-item-blank{
    display: none !important;
  }
  .n-form-item{
    display: flex !important;
  }
}

.ui__tree-data{
  .ui__tree-hover {

    &:hover{
      @apply border-surface-line
    }
    @apply border border-[transparent] transition-all rounded
  }
}
.ui__modal-element{
  .n-card-header{
    display: none !important;
  }
  .n-card__content{
    padding: 0 !important;
  }
}
.ui__onlyOffice-drawer{
  .n-drawer-header{
    display: none !important;
  }
  .n-drawer-body-content-wrapper{
    padding: 0 !important;
  }
}
.ui__user-component{
  .n-avatar{
    border:1px solid var(--surface-300);
    img{
      //object-fit: cover;
      aspect-ratio: auto 3/4;
      width: 40px;
      height: 52px;

    }
  }
}
.ui__avatar-border{
  .n-avatar{
    border:1px solid var(--surface-300);
  }
}

input:-webkit-autofill {
  animation: autofill-detected 0s forwards;
}

@keyframes autofill-detected {
  to {
    /* Nothing to change, just triggering the animation */
  }
}

.active__tab-menu {
  background-image: linear-gradient(to right bottom, rgb(44, 116, 248), rgb(9, 5, 125));
  box-shadow: rgba(99, 99, 99, 0.2) 0 2px 8px 0;
  span{
    color: var(--white-color) !important;
  }
}

.chat__input{
  border: none !important;
  outline: none !important;
  .n-input__border, .n-input--focus, .n-input__state-border{
    border: none !important;
    outline: none !important;
    box-shadow: none !important;
  }
}
.show__delete-image{
  &:hover{
    .photo__delete-btn{
      bottom: 4px;
    }
  }
}

.ui__worker-table {
  border-spacing:2px 0px;
  border-collapse: separate;
  thead{
    tr{
      th{
        @apply bg-[#757a83] text-left font-medium text-white px-2 py-1
      }
    }
  }
  tbody{
    tr:nth-child(2n+1){
      &> td{
        @apply bg-[#b6d1ff1c] overflow-hidden border border-[transparent]
      }
    }
    tr:nth-child(2n){
      &> td{
        @apply bg-white overflow-hidden border border-[transparent]
      }
    }
  }

  @apply border border-[transparent]
}

.bg-effect-wing{
  background-image: url("/public/wing.png");
}
.n-spin-content{
  height: 100%;
}


.n-calendar-dates{
  &> .n-calendar-cell:nth-child(7n+1){
    @apply bg-gray-50
  }
}

.bg-gradient-card {
  background-image: linear-gradient(135deg, #e4feff 4%, #ffffff 10%, #daffff 89%);
}
.white-tab-header{
  .n-tabs-tab{
    background-color: var(--surface-section) !important;
  }
}


