
.hidden-tab-header{
  .n-tabs-nav--segment-type{
    display: none !important;
  }
}

.ui-drawer{
  .n-drawer-header{
    width: 0 !important;
    height: 0 !important;
    overflow: hidden;
    padding: 0 !important;
  }
  .n-drawer-body-content-wrapper{
    padding: 0 !important;
  }
}