VITE_API_URL=https://api.example.com
VITE_SOCKET_URL=wss://api.example.com
VITE_SOCKET_SECRET=your_socket_jwt_token
VITE_OTP_EXPIRE_TIME=120000
VITE_OFFICE_SERVER=https://office.example.com
VITE_CALLBACK_URL=https://api.example.com/api/v1/document/update
VITE_OFFICE_JWT_SECRET=your_onlyoffice_jwt_secret
VITE_MEASUREMENT_ID=G-XXXXXXXXXX
VITE_RECAPTCHA_SITE_KEY=your_recaptcha_site_key
