VITE_API_URL=http://localhost:8004
VITE_SOCKET_URL=http://localhost:3001
VITE_SOCKET_SECRET=your_socket_jwt_token
VITE_APP_MODE=development
VITE_OTP_EXPIRE_TIME=120000
VITE_OFFICE_SERVER=https://office.example.com
VITE_CALLBACK_URL=http://localhost:8004/api/v1/document/update
VITE_MEASUREMENT_ID =G-XXXXXXXXXX