@import 'tailwindcss';
@plugin '@tailwindcss/typography';

@theme {
  --breakpoint-*: initial;
  --breakpoint-sm: 480px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 976px;
  --breakpoint-xl: 1440px;

  --color-*: initial;
  --color-primary: var(--primary-color);
  --color-info: var(--info-color);
  --color-success: var(--success-color);
  --color-warning: var(--warning-color);
  --color-danger: var(--danger-color);
  --color-secondary: var(--secondary-color);
  --color-white: var(--white-color);
  --color-dark: var(--dark-color);
  --color-surface-ground: var(--surface-ground);
  --color-surface-section: var(--surface-section);
  --color-surface-line: var(--surface-line);
  --color-textColor0: var(--textColor0);
  --color-textColor1: var(--textColor1);
  --color-textColor2: var(--textColor2);
  --color-textColor3: var(--textColor3);
  --color-surface-text: var(--textColor3);

  --color-surface: var(--surface);


  --shadow-*: initial;
  --shadow-3d:
    inset -3px -3px 9px rgba(255, 255, 255, 0.25),
    inset 0px 3px 9px rgba(255, 255, 255, 0.3),
    inset 0px 1px 1px rgba(255, 255, 255, 0.6),
    inset 0px -8px 36px rgba(0, 0, 0, 0.3),
    inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  --shadow-sm:
    rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

  --font-*: initial;
  --font-poppins: var(--poppins);
  --font-public-sans: var(--public-sans);
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}
